# Decimal to binary conversion

In [1]:
def decimalToBinary(n):  
  
    if(n > 1):    
        decimalToBinary(n//2)  
  
      
    print(n%2, end=' ') 
      
decimalToBinary(8)  
print("\n") 
decimalToBinary(18)  
print("\n") 
decimalToBinary(7)  
print("\n")

1 0 0 0

1 0 0 1 0

1 1 1

# TOI

In [13]:
def TowerOfHanoi(n , from_rod, to_rod, aux_rod): 
    if n == 1: 
        print ("Move disk 1 from rod",from_rod,"to rod",to_rod) 
        return
    TowerOfHanoi(n-1, from_rod, aux_rod, to_rod) 
    print ("Move disk",n,"from rod",from_rod,"to rod",to_rod)
    TowerOfHanoi(n-1, aux_rod, to_rod, from_rod) 
# Driver code 
n = 4
TowerOfHanoi(n,'A', 'C', 'B') 
# A, C, B are the name of rods 

# Contributed By Harshit Agrawal

Move disk 1 from rod A to rod B
Move disk 2 from rod A to rod C
Move disk 1 from rod B to rod C
Move disk 3 from rod A to rod B
Move disk 1 from rod C to rod A
Move disk 2 from rod C to rod B
Move disk 1 from rod A to rod B
Move disk 4 from rod A to rod C
Move disk 1 from rod B to rod C
Move disk 2 from rod B to rod A
Move disk 1 from rod C to rod A
Move disk 3 from rod B to rod C
Move disk 1 from rod A to rod B
Move disk 2 from rod A to rod C
Move disk 1 from rod B to rod C

# GCD

In [12]:
def gcd(a,b):
    if(b==0):
        return a
    else:
        return gcd(b,a%b)
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
GCD=gcd(a,b)
print("GCD is: ")
print(GCD)

Enter first number:13
Enter second number:15
GCD is:
1

# factorial

In [14]:
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return fact(n-1)*n
fact(6)

720

# Leap years between start year and end year

In [9]:
start = int(input("Enter start year: "))
end = int(input("Enter end year: "))

if start < end:
  print ("Here is a list of leap years between " + str(start) + " and " + str(end)  + ":")

while start < end :
    if start % 4 == 0 and start % 100 != 0:
        print(start)
    if start % 100 == 0 and start % 400 == 0:
        print(start)
    start += 1

if start >end:
    print("Check your year input again.")

Enter start year: 2000
Enter end year: 2010
Here is a list of leap years between 2000 and 2010:
2000
2004
2008

# calculate number of days between two dates

In [10]:
from datetime import date
f_date = date(2014, 7, 2)
l_date = date(2014, 7, 11)
delta = l_date - f_date
print(delta.days)

9

# fib

In [17]:
def fib(n):
    a=0
    b=1
    for i in range(n):
        print(a)
        c=a+b
        a=b
        b=c
fib(6)

0
1
1
2
3
5